<ng-template #loading>
    <h1>En cours de chargement...</h1>
</ng-template>

<div class="container" *ngIf="cocktail$ | async as cocktail; else loading">
<header>
    <a routerLink=".."><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>Back</a>
</header>
<mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile colspan="1" rowspan="3"><img [src]="cocktail.imageUrl" alt="Photo of a Cocktail"></mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">{{cocktail.name}}</mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <app-cocktail-favori-stars [id]="cocktail.id"></app-cocktail-favori-stars>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">Type</mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <mat-chip>
            {{cocktail.isAlcoholic ? "Alcoholic": 'non alcoholic'}}
        </mat-chip>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">Ingredients</mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let ingredient of cocktail.ingredients">{{ingredient}}</mat-list-item>
          </mat-list>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">Instructions</mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">{{cocktail.instructions}}</mat-grid-tile>
</mat-grid-list>
</div>
