<ng-template #loading>
    <h1>En cours de chargement...</h1>
</ng-template>

<div *ngIf="cocktails$ | async as cocktails; else loading " class="container">
    <app-filters [label]="labelSearchComponent" (onFilterValueChange)="onFilterByNameValueChange($event)"></app-filters>
    <mat-card *ngFor="let cocktail of (cocktails | filtreObjets:filterByName:'name')" appearance="outlined">
        <mat-card-content>
            <img mat-card-sm-image [src]="cocktail.imageUrl" alt="Photo of a Cocktail"> <app-cocktail-favori-stars [id]="cocktail.id"></app-cocktail-favori-stars>
            <mat-card-title><a [routerLink]="['./',cocktail.id]" >{{cocktail.name}}</a></mat-card-title> 
            <mat-card-subtitle>{{cocktail.isAlcoholic ? 'Alcoholic' : 'Non Alcoholic' }}</mat-card-subtitle>
            <p>{{cocktail.ingredients}}</p>
        </mat-card-content>
    </mat-card>
</div>
